<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Forgot Password</title>
    <link rel="stylesheet" th:href="@{/css/forgot-password.css}">
</head>
<body>
<div class="container">
    <form class="box" th:action="@{/forgot-password}" method="post">
        <h2>Vehicle Insurance <br> Management</h2>

        <label for="username">Username:</label>
        <input type="text" id="username" name="username" required>

        <label for="newPassword">New Password:</label>
        <input type="password" id="newPassword" name="newPassword" required>

        <button type="submit">Submit</button>
    </form>
</div>
</body>
</html>
