<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Login Page</title>
    <link rel="stylesheet" th:href="@{/css/login.css}">
</head>
<body>
<div class="container">
    <form class="login-box" th:action="@{/login}" method="post">
        <h2>Vehicle Insurance <br> Management</h2>

        <label for="username">Username:</label>
        <input type="text" id="username" name="username" required>

        <label for="password">Password:</label>
        <input type="password" id="password" name="password" required>

        <div class="links">
            <a th:href="@{/forgot-password}">Forgot Password?</a>
            <a th:href="@{/register}">Create an Account</a>
        </div>

        <br>
        <button type="submit">Submit</button>
    </form>
</div>
</body>
</html>
